html {
    scroll-behavior: smooth;
    
}

body {
    font-family:"Lato"
}

@font-face {
    font-family: Lato;
    src: url("/fonts/Lato-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-bold.woff') format('woff');
   
    font-style:normal;
    font-display: swap;
}

body {
   
    font-family: 'Atkinson', sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	
}

@media (max-height: 500px) {
    
}