---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
---

<div class="w-full h-screen bg-stone-900">
  <Navbar />
  <main class="grid grid-cols-1 sm:grid-cols-2 gap-8 px-6 py-8 mt-20">
    <section>
      <img
        src="/public/uttam.jpg"
        class="w-22 md:w-30 h-22 md:h-40 mr-2 inline rounded-full mb-6"
      />
      <h3 class="section-title text-slate-200 text-4xl sm:text-6xl">
        I'm Uttam Sharma. I live in Chennai City, where I developer the future.
      </h3>
      <div class="content text- mt-6 text-slate-200">
        <p class="text-base">
          I've loved making things for as long as I can remember, and wrote my
          first program when I was 6 years old, just two weeks after my mom
          brought home the brand new Macintosh LC 550 that I taught myself to
          type on.
        </p>
        <p class="text-2xl mt-3">
          The only thing I loved more than computers as a kid was space. When I
          was 8, I climbed the 40-foot oak tree at the back of our yard while
          wearing my older sister's motorcycle helmet, counted down from three,
          and jumped — hoping the tree was tall enough that with just a bit of
          momentum I'd be able to get to orbit.
        </p>
        <p class="text-2xl mt-3 border-2 border-white px-4 py-4">
          I spent the next few summers indoors working on a rocket design, while
          I recovered from the multiple surgeries it took to fix my badly broken
          legs. It took nine iterations, but when I was 15 I sent my dad's
          Blackberry into orbit and was able to transmit a photo back down to
          our family computer from space
        </p>
      </div>
    </section>
    <div class="flex justify-center items-center">
      <img
        width={500}
        height={500}
        src="/public/hero.png"
        alt="Uttam Sharma at work with a colleague"
        class="mt-5 px-5 w-ful rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl aspect-square"
      />
    </div>
    &nbsp;
  </main>
  <Footer />
</div>
