<div>
  <h1>Hi, I'm Uttam Sharma live in India...</h1>
  <h2>
    Startup enthusiast, working in an early-stage for development & Product
    scaling
  </h2>
  <div class="social-links">
    <a href="#" target="_blank">
      <span class="sr-only">Follow Astro on LinkedIn</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
        <path fill="currentColor"></path>
      </svg>
    </a>
  </div>
  <p>
    I'm Uttam, a tech enthusiast with expertise in front-end development and
    execution planning. I create innovative, efficient, and reliable solutions
    that exceed expectations. With a proven track record of success, I'm
    dedicated to pushing the boundaries of what's possible in technology
  </p>
</div>
