---
import Navbar from "../components/Navbar";
---

<div
  class="bg-cover h-screen grid bg-orange-300 sm:grid-cols-2 gap-8 items-center"
>
  <div>
    <img
      src="/public/uttam.jpg"
      class="w-[30%] h-auto md:float-right md:mr-8"
    />
  </div>
  <div>
    <h1 class="text-pretty">
      I'm Spencer Sharp. I live in New York City, where I design the future.
    </h1>
    <p class="indent-8">
      I've loved making things for as long as I can remember, and wrote my first
      program when I was 6 years old, just two weeks after my mom brought home
      the brand new Macintosh LC 550 that I taught myself to type on. The only
      thing I loved more than computers as a kid was space. When I was 8, I
      climbed the 40-foot oak tree at the back of our yard while wearing my
      older sister's motorcycle helmet, counted down from three, and jumped —
      hoping the tree was tall enough that with just a bit of momentum I'd be
      able to get to orbit. I spent the next few summers indoors working on a
    </p>
  </div>
</div>
