---
import BaseLayout from "../components/BaseHead.astro";
const pageTitle = "My Learning Blog";
---

<BaseLayout pageTile={pageTitle}>
  <style>
    ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a:link,
    a:visited {
      text-decoration: none;
    }
  </style>
  <p>This is where I will post about my joureny learning</p>
  <ul>
    <li><a href="./posts/post1.md">Post 1</a></li>
    <li><a href="./posts/posts2.md">Post 2</a></li>
  </ul>
</BaseLayout>
