---
import Social from "./Social.astro";
const today = new Date()
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top:2rem;
    }
</style>

<footer class=" bg-white">
    <social platform="twitter" username="astrodotbuild"/>
    <social platform="github"  username="withastro" />
    <social platform="youtube" username="astrodotbuild" />
   
    
</footer>


<!-- <div class="social-links  bg-black mt-40">
        
       
    <a href="#" target="_blank" class="text-stone-400">
        <span class="sr-only text-stone-300">Follow Astro on LinkedIn</span>
        
    &copy; {today.getFullYear()} Uttam Sharma. All rights reserved.
    </a> -->
<!-- </div> -->