---
import type { Component } from "solid-js";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Footer from "./Footer";
import Skill from "../components/Skill";
import Navbar from "../components/Navbar";
---

<div class="bg-cover h-screen bg-stone-900 p-[2%]">
  <Navbar />
  <img
    src="./public/uttam.jpg"
    class="w-20 h-20 mr-2 inline rounded-full mb-6"
  />
  <div class="text-left">
    <h1 class="text-2xl indent-* text-gray-300">
      Software designer, founder, and developer.
    </h1>
    <p class="text-lg font-semibold text-gray-400">
      Hi, I'm Uttam Sharma live in India.... &nbsp;
    </p>
    <p class="text-base text-gray-400">
      Startup enthusiast, working in an early-stage for development & Product
      scaling
    </p>

    <div class="flex gap-x-2 mt-3">
      <a href="https://www.linkedin.com/in/uttamsha/" target="_blank">
        <img
          src="./public/linkedin.png"
          class="w-10 h-10 mr-2 inline rounded-full mb-10"
        />
      </a>
      <a href="https://github.com/uttam-sharma786" target="_blank">
        <img
          src="./public/github.png"
          class="w-10 h-10 mr-2 inline rounded-full mb-10"
        />
      </a>

      <button
        class="bg-zinc-800 mb-11 space-x-1 space-y-2 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded inline-flex items-center backdrop-filter backdrop-blur-lg bg-opacity-30"
        >Downlaod CV</button
      >
    </div>
  </div>
  <Skill />

  <Footer />
</div>
