---
import type {Component } from "solid-js";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Footer from "../components/Footer.astro";
import Skill from "../components/Skill";





---


<div class = "container mx-auto   bg-stone-900 p-[5%]  ">
    <div class="hidden sm:ml-6 sm:block px-2 py-2 bg-slate-800 mb-2 items-right  space-x-10">
        <div class=" flex flex-row text-white text-sm font-bold font-sans  rounded-full hover:underline-offset-8 ">
            <a href="/." class="rounded-md px-3 py-2 t" aria-current="page">Home</a>
            <a href="/about" class="rounded-md px-3 py-2">About Us</a>
            <a href="/Project" class="rounded-md px-3 py-2">Project</a>
        </div>
    </div>
    
    <img src="./public/uttam.jpg" class="w-20 h-20 mr-2 inline rounded-full mb-10" />
    <h1 class="text-2xl text-justify indent-* text-white ">
        Software designer, founder, and amateur astronaut.
    </h1>
    <h3 class="text-white indent-*">
        I’m Spencer, a software designer and entrepreneur based in New York City. 
        I’m the founder and CEO of Planetaria, where we develop technologies that empower regular people to explore space on their own terms.
    </h3>
    
    <div class=" container mx-auto flex gap-x-2 mt-3">
        <a href="https://www.linkedin.com/in/uttamsha/" target="_blank">
            <img src="./public/linkedin.png" class="w-10 h-10 mr-2 inline rounded-full mb-10" />
        </a>
        <a href="https://github.com/uttam-sharma786" target="_blank">
        <img src="./public/github.png" class="w-10 h-10 mr-2 inline rounded-full mb-10" />
        </a>
    </div>
    <Skill />

    
   
   
   
</div>

<!-- <header class="flex  bg-white mb-8 ">
    <nav class="nav-links hidden sm:ml-6 sm:block ">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/about">Project</HeaderLink>
        <HeaderLink href="/">Contact </HeaderLink>
    </nav>
    
</header> -->