---
import type { Component } from "solid-js";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Footer from "./Footer";
import Skill from "../components/Skill";
import Navbar from "../components/Navbar";
---

<div class="bg-cover h-full bg-stone-900 px-4 md:px-[10%] md:py-[2%]">
  <Navbar />
  <img
    src="./public/uttam.jpg"
    class="w-32 md:w-40 h-32 md:h-40 mr-2 inline rounded-full mb-6"
  />
  <div class="text-left">
    <h1 class="text-2xl indent-* text-gray-300">
      Software designer, founder, and developer.
    </h1>
    <p class="text-lg font-semibold text-gray-400">
      Hi, I'm Uttam Sharma live in India.... &nbsp;
    </p>
    <p class="text-base text-gray-400">
      Startup enthusiast, working in an early-stage for development & Product
      scaling
    </p>

    <div class="flex gap-x-2 mt-3">
      <a href="https://www.linkedin.com/in/uttamsha/" target="_blank">
        <img
          src="./public/linkedin.png"
          class="w-10 h-10 mr-2 inline rounded-full mb-10"
        />
      </a>
      <a href="https://github.com/uttam-sharma786" target="_blank">
        <img
          src="./public/github.png"
          class="w-10 h-10 mr-2 inline rounded-full mb-10"
        />
      </a>

      <button
        class="bg-zinc-800 mb-11 space-x-1 space-y-2 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded inline-flex items-center backdrop-filter backdrop-blur-lg bg-opacity-30"
        >Downlaod CV</button
      >
    </div>
  </div>
  <Skill />

  <div class="grid sm:grid-cols-2 justify-normal items-center mt-20 text-white">
    <div class="w-full sm:w-2/3 mr-8">
      <h1 class="text-lg lg:text-2xl">
        Crafting a design system for a multiplanetary future
      </h1>
      <p class="text-xl text-pretty text-neutral-400">
        Most companies try to stay ahead of the curve when it comes to visual
        design, but for Planetaria we needed to create a brand that would still
        inspire us 100 years from now when humanity has spread across our entire
        solar system.
      </p>
    </div>
    <div
      class="w-full sm:w-1/2 bg-neutral-400 px-2 text-slate-900 rounded-lg mb-10"
    >
      <h2 class="text-2xl mb-4">✉️ Stay up to date</h2>
      <h6>
        Get notified when I publish something new, and unsubsribe at any time
      </h6>
      <input type="text" value="Email address" class="mb-5" />
      <button>Join</button>
    </div>
    <div class="w-full sm:w-2/3 mr-8 mt-10">
      <h1 class="text-2xl text-black">
        Crafting a design system for a multiplanetary future
      </h1>
      <p class="text-black">
        Most companies try to stay ahead of the curve when it comes to visual
        design, but for Planetaria we needed to create a brand that would still
        inspire us 100 years from now when humanity has spread across our entire
        solar system.
      </p>
    </div>
    <div class="w-full sm:w-1/2 bg-zinc-700 p-6 rounded-lg mt-10">
      <h2 class="text-xl mb-4">Work</h2>
      <ul>
        <li>Wraptron - 2019 June</li>
        <li>Bisr</li>
        <li>Cadd</li>
      </ul>
    </div>
    <div class="w-full sm:w-2/3 mr-8 mt-10">
      <h1 class="text-2xl text-black">
        Crafting a design system for a multiplanetary future
      </h1>
      <p class="text-black">
        Most companies try to stay ahead of the curve when it comes to visual
        design, but for Planetaria we needed to create a brand that would still
        inspire us 100 years from now when humanity has spread across our entire
        solar system.
      </p>
    </div>
    <div class="w-full sm:w-1/2 bg-zinc-700 p-6 rounded-lg mt-10">
      <h2 class="text-xl mb-4">Work</h2>
      <ul>
        <li>Wraptron - 2019 June</li>
        <li>Bisr</li>
        <li>Cadd</li>
      </ul>
    </div>
  </div>

  <Footer />
</div>
