import type { Component } from "solid-js";

const Skill: Component = () => {
    return (
        <div class="flex justify-center brand-container">
            <ul class="overflow-x-auto md:space-x-20">
                <li>
                    <img src ="#" class="h-20" />
                </li>
                <li>
                    <img src ="#" class="h-20" />
                </li>
                <li>
                    <img src ="#" class="h-20" />
                </li>
                <li>
                    <img src ="#" class="h-20" />
                </li>
            
            </ul>
        </div>
    )

}
export default Skill;